<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add recipes here</h1>
    <form action="/recipes" method="POST">

        <label for="name">name:</label>
        <input type="text" id="name" name="name">

        <label for="instructions">instructions:</label>
        <input type="text" id="instructions" name="instructions">

        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients">

        <button type="submit">Submit</button>

    </form>
</body>
</html>